Alembic==1.13.3
Aniso8601==9.0.1
Asttokens==2.4.1
Backcall==0.2.0
Bcrypt==4.2.0
Blinker==1.8.2
Certifi==2024.7.4
Click==8.1.7
Decorator==5.1.1
Distlib==0.3.8
Executing==2.0.1
Faker==28.4.1
Filelock==3.15.4
Flask==2.0.3
Flask-Bcrypt==1.0.1
Flask-Cors==5.0.0
Flask-Login==0.6.3
Flask-Migrate==4.0.7
Flask-RESTful==0.3.10
Flask-SQLAlchemy==2.5.1
gunicorn
Greenlet==3.1.1
gunicorn==20.1.0
Importlib_metadata==8.5.0
Importlib_resources==6.4.5
IPDB==0.13.13
IPython==7.34.0
Itsdangerous==2.2.0
Jedi==0.19.1
Jinja2==3.0.3
Mako==1.3.5
MarkupSafe==2.1.5
Matplotlib-inline==0.1.7
Parso==0.8.4
Pexpect==4.9.0
Pickleshare==0.7.5
Pip==24.2
Pipenv==2024.0.1
Platformdirs==4.2.2
Prompt_toolkit==3.0.47
Ptyprocess==0.7.0
Pure_eval==0.2.3
Pygments==2.18.0
Python-dateutil==2.9.0.post0
Python-dotenv==1.0.1
Pytz==2024.2
Setuptools==73.0.1
Six==1.16.0
SQLAlchemy==1.4.47
SQLAlchemy-serializer==1.4.12
Stack-data==0.2.0
Tomli==2.0.1
Traitlets==5.1.1
Typing_extensions==4.12.2
Virtualenv==20.26.3
WCWidth==0.2.13
Werkzeug==2.3.6
Zipp==3.20.2